<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="appReserva.Properties.Settings.bdReservaumgConnectionString"
            connectionString="Data Source=serverumgreserva.database.windows.net;Initial Catalog=bdReservaumg;Persist Security Info=True;User ID=ualexis;Password=2rfiu5wxziXbVcm"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>